// Variables de colores, fuentes, etc.
// Colors
$primary-color: #F29995;
$dark-text: #242424;
$light-text: #525252;
$background-color: #FEF8F4;
$white: #FFFFFF;
$border-color: #E0E0E0;

// Fonts
$font-heading: 'Prata', serif;
$font-body: 'Poppins', sans-serif;

// Layout
$container-width: 1200px;